page-home {
    .bg-image{
        background-image: url(../../assets/imgs/sunset_background.jpg);
        background-repeat: no-repeat;
        background-position: center;
        //background-size: contain;
    }
    h1{
        color :#FFFAFA;
    }
    
}
